<main>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="main-inner-con">
        <app-search-user (handleOnSearch)="handleOnSearch($event[0])"></app-search-user>
        <p *ngIf="!loading && sharedService?.users?.length === 0 && searched" class="d-flex w-100 text-muted mt-5 justify-content-center align-items-center"><mat-icon>search</mat-icon>No search result for : {{sharedService?.query}}</p>
        <section class="users-card">
        <app-single-user *ngFor="let user of sharedService?.users" [user]="user" (userDetails)="userDetails($event[0], $event[1])"></app-single-user>
    </section>
    </div>
</main>