<div>
  <div class="d-flex align-items-center w-100 mb-4">
    <button tabindex="-1" mat-icon-button (click)="close()" class="mr-4">
      <mat-icon>
        <mat-icon>arrow_back</mat-icon>
      </mat-icon>
    </button>
    <h3 class="mb-0">{{data?.skill}}</h3>
  </div>
</div>

<div class="content-con">
  <p>Users with {{data?.skill}} skill</p>
  <div class="text-center mt-5" *ngIf="loading else showUsers">Loading...</div>
  <div class="text-center mt-5" *ngIf="!loading && sameSkillUsers.length === 0">No user found.</div>

  <ng-template #showUsers>

    <mat-card-header *ngFor="let user of sameSkillUsers" class="border shadow-sm rounded-10 mb-2  py-2 pl-2">
      <img mat-card-avatar *ngIf="user?.picture" [src]="user?.picture" onerror="this.src='assets/img/logo-dark.png'"
        [alt]="user?.name">
      <div mat-card-avatar *ngIf="!user?.picture">{{user?.name?.charAt(0)}}</div>
      <mat-card-title>{{user?.name}}</mat-card-title>
      <mat-card-subtitle class="mb-0 pb-0">{{user?.professionalHeadline}}</mat-card-subtitle>
    </mat-card-header>
  </ng-template>

</div>